<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Editar Item</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <h1>Editar Platillo</h1>
  <div class="edit-item">
    <form action="/update/{{ item._id }}" method="post" enctype="multipart/form-data">
      <input type="text" name="name" value="{{ item.name }}" required>
      <br>
      <textarea name="description" required>{{ item.description }}</textarea>
      <br>
      <p>Imagen actual:</p>
      <img src="{{ item.imageUrl }}" width="30%" height="30%"  alt="{{ item.name }}">
      <br>
      <p>Subir nueva imagen (opcional):</p>
      <input type="file" name="image">
      <br><br>
      <button type="submit">Actualizar</button>
    </form>
  </div>
  <br>
  <div class="button-group">
    <a href="/">Volver al inicio</a>
  </div>
</body>
</html>
